# Data Mining

## Association Rules

### After completing materials of this notebook, you should be able to:

* Explain what association rules are, how they are found and the benefits of using them.
* Recognize the necessary format for data in order to create association rules.
* Develop an association rule model.
* Interpret the rules generated by an association rule model and explain their significance, if any :D

### What are Association Rules ??
   Association rules are a data mining methodology that seeks to find frequent connections between attributes in a data set
   * shopping basket analysis
   * products purchase frequency
   * recommandation systems: items are found to be __associated__ with the item you are looking for, and that association is so frequent in the web site’s data set, that the association might be considered a __rule__. Thus is born the name of this data mining approach: “association rules”

#### Business Understanding
we want to identify and then try to take advantage of existing connections in our local
community to get some work done that will benefit the entire community.

#### Data Understanding

* __Elapsed_Time__: This is the amount of time each respondent spent completing our survey. It is expressed in decimal minutes (e.g. 4.5 in this attribute would be four minutes, thirty seconds).
* __Time_in_Community__: This question on the survey asked the person if they have lived in the area for 0-2 years, 3-9 years, or 10+ years; and is recorded in the data set as Short, Medium, or Long respectively.
* __Gender__: The survey respondent’s gender.
* __Working__: A yes/no column indicating whether or not the respondent currently has a paid job.
* __Age__: The survey respondent’s age in years.
* __Family__: A yes/no column indicating whether or not the respondent is currently a member of a family-oriented community organization, such as Big Brothers/Big Sisters, childrens’recreation or sports leagues, genealogy groups, etc.
* __Hobbies__: A yes/no column indicating whether or not the respondent is currently a member of a hobby-oriented community organization, such as amateur radio, outdoor recreation, motorcycle or bicycle riding, etc.
* __Social_Club__: A yes/no column indicating whether or not the respondent is currently a member of a community social organization, such as Rotary International, Lion’s Club, etc.
* __Political__: A yes/no column indicating whether or not the respondent is currently a member of a political organization with regular meetings in the community, such as a political party, a grass-roots action group, a lobbying effort, etc.
* __Professional__: A yes/no column indicating whether or not the respondent is currently a member of a professional organization with local chapter meetings, such as a chapter of a law or medical society, a small business owner’s group, etc.
* __Religious__: A yes/no column indicating whether or not the respondent is currently a member of a church in the community.
* __Support_Group__: A yes/no column indicating whether or not the respondent is currently a member of a support-oriented community organization, such as Alcoholics Anonymous, an anger management group, etc.

#### Data Preparation

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('association_rules_data_set.csv')

In [3]:
df.head()

,Elapsed_Time,Time_in_Community,Gender,Working,Age,Family,Hobbies,Social_Club,Political,Professional,Religious,Support_Group
0,8.71,Short,M,No,53,1,0,0,0,0,0,0
1,5.24,Medium,F,No,31,0,0,0,0,0,1,1
2,4.22,Medium,M,No,42,1,1,0,0,1,0,0
3,4.81,Long,F,No,30,0,0,0,0,0,0,0
4,3.95,Long,M,Yes,29,0,0,0,1,1,0,1

In [4]:
from collections import Counter
Counter(df.Time_in_Community)

Counter({'Short': 714, 'Medium': 1304, 'Long': 1465})