### Lambda

In [1]:
lst = [(1, 3), (3, 5), (2, 2)]

In [2]:
lst.sort()

In [3]:
lst

[(1, 3), (2, 2), (3, 5)]

In [4]:
lst.sort(key= lambda x: x[1])
lst

[(2, 2), (1, 3), (3, 5)]

In [6]:
lst_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9 ]

### Map

In [8]:
list(map(lambda x: 'big' if x > 2 else 'small', lst_1))

['small', 'small', 'big', 'big', 'big', 'big', 'big', 'big', 'big']

### Filter

In [11]:
mylist = [1, 3, 5, 6, 7, 8, 10]
list(filter(lambda x: x % 2 == 1, mylist))

[1, 3, 5, 7]

### generator

In [15]:
def firstn(n):
    item = 0
    while item <= n:
        yield item
        item += 1

In [18]:
for item in firstn(6):
    print (item)

0
1
2
3
4
5
6

In [8]:
a = firstn()
print(a)

<generator object firstn at 0x000001D6E5395E00>

In [11]:
next(a)

3

### OOP

In [46]:
class Person:
    count = 0 
    def __init__(self, name, age):
        self.name = name
        self.age = age
        Person.count =+ 1
    def get_name(self):
        print(f'name is {self.name}')
    def agee(self):
        print(f'name is {self.age}')
    def _count(self):
        print(f'count is {Person.count}')

In [47]:
zahra = Person('zahra', 21)
zahra

In [48]:
zahra.get_name()

name is zahra

In [49]:
zahra.agee()

name is 21

In [50]:
zahra._count()

count is 1

In [18]:
class Computer:
    count = 0 
    def __init__ (self, hard, cpu, ram):
        self.ram = ram 
        self.hard = hard
        self.cpu = cpu
        Computer.count += 1
    def value(self):
        return self.ram + self.hard + self.cpu
    def _count(self):
        return Computer.count
class Laptop(Computer):
    def value(self):
        return self.ram + self.hard + self.cpu + self.siz

In [19]:
pc1 = Computer(10, 12, 3)
pc1.value()

25

In [20]:
pc2 = Computer(15, 8, 6)
pc2.value()

29

In [21]:
pc2._count()

2

In [28]:
laptop1 = Laptop(15, 8, 6)
laptop1.value()

TypeError: Laptop.value() takes 1 positional argument but 2 were given

In [23]:
laptop1.siz = 14
laptop1.value()

43

In [29]:
mylist = [2,15,26,8,11,14,17,102,44]
map_list = list(map(lambda x:x%10,mylist))
filter_list = filter(lambda x: x<=4,map_list)
print(filter_list)

<filter object at 0x000001A92C177640>

In [30]:
class university:
    def __init__(student, name, number_of_grade, grade1, grade2, grade3):
        student.name = name
        student.number_of_grade = number_of_grade
        student.grade1 = grade1
        student.grade2 = grade2
        student.grade3 = grade3

    def get_name(student):
        print("Student name is %s" % student.name)
        
    def get_grades(student):
        total_grade = student.grade1+student.grade2+student.grade3
        average = total_grade/student.number_of_grade
        print ("The Average is %i" % average)

Information = university("Hossein",3,16,12,18)
Information.get_name()
Information.get_grades()

Student name is Hossein
The Average is 15

In [31]:
16+12+18

46

In [32]:
46/3

15.333333333333334

In [45]:
class Maktabkhooneh:

    def __init__(self, name, age):

        self.name = name

        self.age = age

    def get_name(self):

        print ("my name is %s and my age is %i" % (self.name,self.age))

 

Maktabkhooneh = Maktabkhooneh('maktabkhooneh',7)

Maktabkhooneh.get_name()

my name is maktabkhooneh and my age is 7

In [44]:
class maktabkhooneh:

    def __init__(self, name, age):

        self.name = name

        self.age = age

    def get_name(self):

        print ("my name is %s and my age is %i" % (self.name,self.age))

In [41]:
z = maktabkhooneh('z', 3)

In [46]:
class maktabkhooneh:
    def __init__(self, name, grade, age):
        self.name = name
        self.grade = grade
        self.age = age

    def value(self):
        return self.name + self.grade
        
person = maktabkhooneh("Ahmad","Master",24)
print(person.value())

AhmadMaster

In [ ]:
class Device:
    def __init__(self, mac, ip, name):
        self.name = name
        self.mac = mac
        self.ip = ip
        #result = ping the result 
        if result:
            result.self = 'active'
        else:
            result.self = 'unknown'
class TV(Device):
    def turrn_on(self)