# My Practice
1.[List](#list)

2.[Function](#function)

3.[string](#function)

<a id="list"></a>
### list

In [3]:
lst_1 = [-10, 222, 3, 400]
lst_2 = [5, 6, 7, 8]

In [ ]:
for i in lst_1:
    a = i + lst_2[lst_1.index(i)]
    b=print(a)

In [ ]:
lst_1[1]

In [ ]:
range(4)

In [ ]:
lst_1.index(0)

In [ ]:
for i in range(4):
    a = lst_1[i]+ lst_2[i]
    b= print(a)
b

In [ ]:
list_ =[1, 4, 9, 16, 25, 36]
for t in list_:
    print(t + 10)

In [ ]:
print(range(4))

In [ ]:
print(range(0,4))

In [ ]:
list(range(4))

In [ ]:
lst = ['11', 'pooya', '10', '10.5']
n=[1,2,3,4,5,6,7,8,9,0]
for i in lst:
    for ch in i:
        if i in n:
            a = print(i)
        else:
            b = print(i)
a

In [ ]:
list =['11','pooya','10','15.5','12','23','45','reza','65.5','65','hamid']
lst2 =['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'k', 'l', 'm', 'n','o', 'p', 'q', 'r','s', 't', 'u', 'v', 'x', 'w', 'y', 'z']
for x in list:
    if x[0] in lst2:
        continue
    elif '.' in x:
        continue
    else:
        print(x)

In [ ]:
for x in list:
    a = print(x[0])
a

In [ ]:
a = "11"
for i in a:
    b =print(i[0]) 
b

In [4]:
a = "11"
for i in a:
    b =print(i[0]) 
print(print())

1
1

None

In [ ]:
a = 'pooya'
a[0]

In [ ]:
print('1')

In [ ]:
c =1

In [ ]:
type (c)

In [ ]:
b = print(1)

In [ ]:
type(b)

In [ ]:
lst = ['11', 'pooya', '10', '10.5']
n=['1','2','3','4','5','6','7','8','9','0']
res=[]
for i in lst:
    for ch in i:
        if i  not in n:
            continue
        else:
            res.append(i)
res

In [ ]:
lst = ['11', 'pooya', '10', '10.5']
# n=['1','2','3','4','5','6','7','8','9','0']
res=[]
for i in lst:
    for ch in i:
        if i  not in '1234567890':
            continue
        else:
            res.append(i)

In [ ]:
lst = []
if lst: # recommended
    print(lst[0])

In [ ]:
lst = ['11', 'pooya', '10', '10.5', "32K232", "0"]
res=[]

for i in lst:
    zahra = True
    for j in i :
            if j   not in  '0123456789':
                zahra=False
                break
    if zahra:
        res.append(i)

res

<a id="function"></a>
### Function

In [2]:
# When the function does not return
def zahra(*args):
    for arg in args:
        arg = float(arg)
        arg = arg ** arg
#     print(arg)
b =zahra(2,3)
print (b)

None

In [ ]:
def zahra(z):
    print(z)

In [ ]:
b = zahra('1')

In [ ]:
type(b)

In [ ]:
def zahra(z):
    print(z)
    return z

In [ ]:
c = zahra('1')

In [ ]:
type(c)

In [7]:
def func(*args): 
    b = print(type(args))
    for arg in args:  
        print(arg)
func('hello', 'dear', 'friends', 'pooya', 'menoo') 
b

<class 'tuple'>
hello
dear
friends
pooya
menoo

'aai aai'

In [ ]:
def zahra(*args):
    for i in len(args):
        while i<len(args)-1:
            arg = arg[i]**arg[i+1]
    print (arg )

In [ ]:
class Bird:

    def __init__(self, something):
        self.something = something
        print("Bird is ready")

    def who_is_this_bird(self):
        print("Bird")

    def swim(self):
        print("Swim faster")

In [ ]:
class Fereshteh:
    def __init__ (self,name=None,age=None):  
        self.name = name
        self.age = age
    def zahra(self,age):
        self.age = age
        print('hi')

In [ ]:
class Fereshteh:
    def __init__ (self,name):  
        self.name = name
    @staticmethod    
    def zahra(self):
         print('hi')

In [ ]:
a = Fereshteh('good')
a.zahra()

In [ ]:
a = Fereshteh('good')
a.zahra('zahra')

In [ ]:
def zahra(*args):
    for i in len(args):
        while i<len(args)-1:
            arg = arg[i]**arg[i+1]
    print (arg)
b =zahra(2,3)

### String

In [5]:
a = 'anahid zamani'
b = a[::2]
c =a[1::2]
z(b,c)

NameError: name 'z' is not defined

In [6]:
len(a[1::2])

6

In [ ]:
a[::2]