In [2]:
import os  # library
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [3]:
lst_1 = [-10, 222, 3, 400]
lst_2 = [5, 6, 7, 8]

In [10]:
for i in lst_1:
    a = i + lst_2[lst_1.index(i)]
    b=print(a)

-5
228
10
408

408

In [8]:
lst_1[1]

222

In [11]:
range(4)

range(0, 4)

In [12]:
 lst_1.index(0)

ValueError: 0 is not in list

In [15]:
for i in range(4):
    a = lst_1[i]+ lst_2[i]
    b= print(a)
b

-5
228
10
408

In [16]:
list_ =[1, 4, 9, 16, 25, 36]
for t in list_:
    print(t + 10)

11
14
19
26
35
46

In [17]:
print(range(4))

range(0, 4)

In [18]:
print(range(0,4))

range(0, 4)

In [19]:
list(range(4))

[0, 1, 2, 3]

In [23]:
lst = ['11', 'pooya', '10', '10.5']
n=[1,2,3,4,5,6,7,8,9,0]
for i in lst:
    for ch in i:
        if i in n:
            a = print(i)
        else:
            b = print(i)
a

11
11
pooya
pooya
pooya
pooya
pooya
10
10
10.5
10.5
10.5
10.5

408

In [25]:
1 in n

True

In [26]:
list =['11','pooya','10','15.5','12','23','45','reza','65.5','65','hamid']
lst2 =['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'k', 'l', 'm', 'n','o', 'p', 'q', 'r','s', 't', 'u', 'v', 'x', 'w', 'y', 'z']
for x in list:
    if x[0] in lst2:
        continue
    elif '.' in x:
        continue
    else:
        print(x)

11
10
12
23
45
65

In [27]:
for x in list:
    a = print(x[0])
a

1
p
1
1
1
2
4
r
6
6
h

In [59]:
a = "11"
for i in a:
    b =print(i[0]) 
b

1
1

In [71]:
b

In [74]:
print()
print('z')

z

In [69]:
a = "11"
for i in a:
    b =print(i[0]) 
print(print())

1
1

None

In [ ]:
a = 'pooya'
a[0]

In [38]:
print('1')

1

In [46]:
c =1

In [48]:
type (c)

int

In [44]:
b = print(1)

1

In [45]:
type(b)

NoneType

In [49]:
def zahra(z):
    print(z)

In [50]:
b = zahra('1')

1

In [51]:
type(b)

NoneType

In [54]:
def zahra(z):
    print(z)
    return z

In [55]:
c = zahra('1')

1

In [56]:
type(c)

str

In [64]:
def func(*args): 
    b = print(type(args))
    for arg in args:  
        print(arg)
func('hello', 'dear', 'friends', 'pooya', 'menoo') 
b

<class 'tuple'>
hello
dear
friends
pooya
menoo

In [78]:
lst = ['11', 'pooya', '10', '10.5']
n=['1','2','3','4','5','6','7','8','9','0']
res=[]
for i in lst:
    for ch in i:
        if i  not in n:
            continue
        else:
            res.append(i)
res

[]

In [79]:
lst = ['11', 'pooya', '10', '10.5']
# n=['1','2','3','4','5','6','7','8','9','0']
res=[]
for i in lst:
    for ch in i:
        if i  not in '1234567890':
            continue
        else:
            res.append(i)

In [82]:
print('z')
print('m')
print('s')

z
m
s

In [87]:
a ='zahra \n fereshteh'
a

'zahra \n fereshteh'

In [2]:
a = 10
print(f'salam bar shoma',{a})

salam bar shoma {10}

In [1]:
if isinstance

SyntaxError: expected ':' (2725126618.py, line 1)

In [3]:
def z(*z):
    res =''
    for i,j in zip(*z):
        res = res+i +j
    print(res)

In [12]:
a = 'anahid zamani'
b = a[::2]
c =a[1::2]
z(b,c)

anahid zaman

In [13]:
len(a[1::2])

6

In [9]:
a[::2]

'aai zmn'

In [80]:
def zahra(*args):
    for i in len(args):
        while i<len(args)-1:
            arg = arg[i]**arg[i+1]
    print (arg )

In [81]:
b =zahra(2,3)

TypeError: 'int' object is not iterable

In [41]:
a = 10
b =100
a=b%a

In [42]:
a

0

In [43]:
class Bird:

    def __init__(self, something):
        self.something = something
        print("Bird is ready")

    def who_is_this_bird(self):
        print("Bird")

    def swim(self):
        print("Swim faster")

In [44]:
Bird()

TypeError: Bird.__init__() missing 1 required positional argument: 'something'

In [78]:
class Fereshteh:
    def __init__ (self,name=None,age=None):  
        self.name = name
        self.age = age
    def zahra(self,age):
        self.age = age
        print('hi')

In [79]:
a = Fereshteh()
a.zahra()

TypeError: Fereshteh.zahra() missing 1 required positional argument: 'age'

In [62]:
class Fereshteh:
    def __init__ (self,name):  
        self.name = name
    @staticmethod    
    def zahra(self):
         print('hi')

In [63]:
a = Fereshteh('good')
a.zahra()

TypeError: Fereshteh.zahra() missing 1 required positional argument: 'self'

In [64]:
a = Fereshteh('good')
a.zahra('zahra')

hi

In [71]:
lst = []
if lst: # recommended
    print(lst[0])

In [82]:
def zahra(*args):
    for i in len(args):
        while i<len(args)-1:
            arg = arg[i]**arg[i+1]
    print (arg)
b =zahra(2,3)

TypeError: 'int' object is not iterable

In [114]:
lst = ['11', 'pooya', '10', '10.5', "32K232", "0"]
res=[]

for i in lst:
    zahra = True
    for j in i :
            if j   not in  '0123456789':
                zahra=False
                break
    if zahra:
        res.append(i)

res

['11', '10', '0']

In [ ]:
name_1 = input('please write your favorit name: ')
name_2 = input('please write your favorit name: ')
player_1 = input('Please select your choice: ')
player_2 = input('Please select your choice: ')
game =['sang','kaghaz' , 'gheichi']
if  player_1 not in game or player_2 not in game:
    raise ValueError(f"The choice should be among these options but your choice{game}" )
if player_1 == player_2:
    print('equal')
if player_1 == 'sang':
    if player_2=='kaghaz':
        print(f'{name_2}  win')
    if player_2 == 'gheichi':
         print(f'{name_1} win')
       
#     elif player_1=='gheichi':